<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo Bank Tests" verbose="1">
    <test name="Login Test" preserve-order="true" enabled="true">
        <classes>
            <class name="app.vercel.demobank.tests.LoginTest"></class>
        </classes>
    </test>
    <test name="Home Page Test" preserve-order="true" enabled="true">
        <classes>
            <class name="app.vercel.demobank.tests.MainPageTest"></class>
        </classes>
    </test>
    <test name="Reports Test" preserve-order="true" enabled="true">
        <classes>
            <class name="app.vercel.demobank.tests.ReportsTest"></class>
        </classes>
    </test>
    <test name="Phone Top Up Test" preserve-order="true" enabled="true">
        <classes>
            <class name="app.vercel.demobank.tests.PhonePageTest"></class>
        </classes>
    </test>
</suite>